footer {
    margin-top: 15rem;
    font-size: 1.5rem;
    background-color: $color-black;
    color: $color-white;
    padding: 4rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    a:link,
    a:visited {
        color: $color-white;
    }

    strong {
        font-size: 1.9rem;
    }
}