doctype html
html(lang="pl-PL")
    head
        meta(charset="utf-8")
        title Parallax
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/png", href="img/favicon.png")

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/app.js")
    body

        header.bird-box
            .back-bird
            .logo
            .fore-bird


        section.content

            article

                h1 Unikalny styl

                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non commodi veritatis a at cumque sed quam, minus, nulla architecto eum nisi id vel eos doloremque officiis incidunt adipisci. Quaerat.

                hr

            .container
                .clothes-pics
                    .row.mb-4
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>
                    .row.mb-4            
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>
                    .row.mb-4            
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>



            article

                h1 Sklep z ciuchami

                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non commodi veritatis a at cumque sed quam, minus, nulla architecto eum nisi id vel eos doloremque officiis incidunt adipisci. Quaerat.

                hr

            .container
                .row
                    .large-window
                        .window-tint
                            .promo-text Fall suits
                                strong  <span>from</span> $99
                                a(href="#").window-cta Shop Now

            article

                h1 Bogata historia

                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non commodi veritatis a at cumque sed quam, minus, nulla architecto eum nisi id vel eos doloremque officiis incidunt adipisci. Quaerat nulla architecto eum nisi id vel eos doloremque officiis.

                hr

            .container  
                .row.blog-posts
                        .col-md-4
                            .post.post-1
                                h4 Post title 1
                                img(src="img/posts/one.jpg", alt="")
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi assumenda atque perspiciatis, similique porro, et iure quos molestias eaque, tempora corporis omnis aperiam veritatis labore praesentium nesciunt dolorum veniam libero.
                                p: a.btn.btn-primary(href="#") Read more
                        .col-md-4
                            .post.post-2
                                h4 Post title 2
                                img(src="img/posts/two.jpg", alt="")
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi assumenda atque perspiciatis, similique porro, et iure quos molestias eaque, tempora corporis omnis aperiam veritatis labore praesentium nesciunt dolorum veniam libero.
                                p: a.btn.btn-primary(href="#") Read more
                        .col-md-4
                            .post.post-3
                                h4 Post title 3
                                img(src="img/posts/three.jpg", alt="")
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi assumenda atque perspiciatis, similique porro, et iure quos molestias eaque, tempora corporis omnis aperiam veritatis labore praesentium nesciunt dolorum veniam libero.
                                p: a.btn.btn-primary(href="#") Read more

        footer
            .container  
                .row
                    .col-md-3
                        strong Follow us
                        ul
                            li: a(href="#") Facebook
                            li: a(href="#") Twitter
                            li: a(href="#") Google+
                            li: a(href="#") Instagram
                    .col-md-3
                        strong Other shops
                        ul
                            li: a(href="#") Lorem ipsum
                            li: a(href="#") Dolor sit
                            li: a(href="#") Consectetur
                            li: a(href="#") Excepturi
                    .col-md-6
                            p <strong>Sign up for the newsletter</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum laudantium eaque ad blanditiis quis veritatis provident.
                            form(action="#")
                                .form-row
                                    .col-sm-8
                                        input.form-control(type="email" placeholder="Your Email")
                                    .col-sm-4
                                        input.btn.btn-success(type="submit")